.introContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80vw;
    height: 100vh;
    -webkit-box-shadow: 7px 5px 11px -2px rgba(0,0,0,0.27);
    box-shadow: 7px 5px 11px -2px rgba(0,0,0,0.27);
}
.intro{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.desc{
    text-align: justify;
}