.ProjContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: wheat;
    font-size: larger;
    width: inherit;
    margin-bottom: 20px;

}
.projects{
    width: 90%;
    padding: 30px;
   display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
} 

.acc{
    width: 100%;
}
.projPic{
    width: 250px;
    height: 250px;
}
.projTitle{
    border-bottom: 1px solid black;
    width: 90%;
    /* font-size: bold; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: 700; */
    /* font-size:x-large; */
    padding: 20px;
}