.App {
  text-align: center;
}

.mainWrapper {
  width: 100vw;
  height: max-content;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  color: wheat;
  overflow: hidden;
  background-color: rgb(51, 48, 48);
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
}
@media (max-width:800px) {
  .home {
    width: 100%;
  }
}
.o{
  color: orange;
}


.br {
  border: 2px solid black;
}
.brr {
  border: 2px solid green;
}

.menu{
  position: absolute;
  right: 20px;
  top: 20px;
border: 2px solid wheat;
border-radius: 5px;
width: 30px;
  cursor: pointer;
}
@media (min-width:800px) {
  .menu {
    display: none;
  }
}